ITEM_ID	ITEM_CD	ITEM_GRP_TEAM_CD	ITEM_GRP_TEAM_NM	ITEM_GRP_DTL_TYPE_CD	ITEM_GRP_DTL_TYPE_NM	ITEM_GRP_CF_CD	ITEM_GRP_CF_NM	분류담당
00000001	AAAAA	03	생활가전팀	31	생활가전	3101	예시품목	생활리빙
00000002	BBBBB	08	PC솔루션팀	81	PC	8101	예시노트북	PC솔루션
